/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* fonts */
@font-face {
  font-family: "Alata";
  src: url("../fonts/Alata-Regular.ttf");
}

@font-face {
  font-family: "JosefinSans";
  src: url("../fonts/JosefinSans-VariableFont_wght.ttf");
}

@font-face {
  font-family: "JosefinSans-Italic";
  src: url("../fonts/JosefinSans-Italic-VariableFont_wght.ttf");
}

:root {
  /* colours */
  --clr-White: hsl(0, 0%, 100%);
  --clr-Black: hsl(0, 0%, 0%);
  --Dark-Gray: hsl(0, 0%, 55%);
  --Very-Dark-Gray: hsl(0, 0%, 41%);
  --ff-primary: "Alata", san-serif;
  --ff-secondary: "JosefinSans", san-serif;
  --ff-secondary-italic: "JosefinSans-Italic", san-serif;
  /* font sizes */
  --fs-400: 0.8125rem;
  --fs-500: 0.9724rem;
  --fs-900: 2rem;
  /* border radius */
  --br: 0.5rem;
  /* left and right side padding */
  --side-border-padding: 1.5rem;
  --desk-side-border-padding: 5rem;
}

body {
  color: var(--clr-White);
  font-family: var(--ff-primary);
}

.intro {
  background-image: url("../images/mobile/image-hero.jpg");
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3rem var(--side-border-padding) 10rem var(--side-border-padding);
}

@media (min-width: 670px) {
  .intro {
    background-image: url("../images/desktop/image-hero.jpg");
    background-position: center;
    padding: 3rem var(--desk-side-border-padding) 8rem var(--desk-side-border-padding);
  }
}

lead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  border: 2px solid white;
  font-family: "JosefinSans";
  font-weight: 250;
  font-size: 2.5rem;
  padding: 1rem var(--side-border-padding) 0.5rem var(--side-border-padding);
  line-height: 2.5rem;
  max-width: 365px;
}

section {
  padding: 6rem var(--side-border-padding) 6rem var(--side-border-padding);
}

@media (min-width: 670px) {
  section {
    padding: 6rem var(--desk-side-border-padding) 6rem var(--desk-side-border-padding);
    position: relative;
  }
}

.lead-vr {
  margin-top: 2rem;
}

@media (min-width: 670px) {
  .lead-vr {
    position: absolute;
    margin-top: 0rem;
    background-color: white;
    width: 50%;
    padding: 2rem 2rem 2rem 2rem;
    bottom: 4rem;
    right: 4rem;
  }
}

h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  color: var(--clr-Black);
  font-family: var(--ff-secondary);
  font-weight: 250;
  font-size: 2rem;
  line-height: 2.5rem;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 670px) {
  h3 {
    font-size: x-large;
    line-height: 1.5rem;
  }
}

p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--Dark-Gray);
  font-family: var(--ff-secondary);
  text-align: center;
  font-weight: 300;
  padding-top: 1rem;
}

@media (min-width: 670px) {
  p {
    font-size: smaller;
  }
}

.flex-btn-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 670px) {
  .flex-btn-order {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
}

@media (min-width: 670px) {
  .our-creation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding-left: var(--desk-side-border-padding);
  }
}

button.see-all {
  text-transform: uppercase;
  border: 1px solid var(--clr-Black);
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  font-size: 1.3rem;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin: 2rem 7rem 3rem 7rem;
  padding: 0.5rem 0.5rem;
  letter-spacing: 0.2rem;
  width: 170px;
}

@media (min-width: 670px) {
  button.see-all {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    margin: 0rem var(--desk-side-border-padding) 0rem 0rem;
    padding: 0.5rem 0.5rem;
    -webkit-transform: translateY(-2.5rem);
            transform: translateY(-2.5rem);
    font-size: 0.9rem;
    width: 120px;
  }
}

button.see-all:hover {
  background-color: var(--clr-Black);
  color: white;
}

.nav-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (12)[1fr];
      grid-template-columns: repeat(1fr, 12);
}

@media (min-width: 670px) {
  .nav-container {
    padding-bottom: 5rem;
  }
}

.logo-wrap {
  -ms-grid-column: 1;
  -ms-grid-column-span: 9;
  grid-column: 1 / 10;
}

@media (min-width: 670px) {
  .logo-wrap {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / 5;
  }
}

.header-loop-logo {
  width: 40%;
}

.hamburger {
  -ms-grid-column: 12;
  -ms-grid-column-span: 1;
  grid-column: 12 / 13;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: -webkit-transform 350ms ease-out;
  transition: -webkit-transform 350ms ease-out;
  transition: transform 350ms ease-out;
  transition: transform 350ms ease-out, -webkit-transform 350ms ease-out;
}

@media (min-width: 670px) {
  .hamburger {
    display: none;
  }
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  background-color: white;
  height: 3px;
  width: 30px;
  -webkit-transition: -webkit-transform 350ms ease-in-out;
  transition: -webkit-transform 350ms ease-in-out;
  transition: transform 350ms ease-in-out;
  transition: transform 350ms ease-in-out, -webkit-transform 350ms ease-in-out;
}

.hamburger-top {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.hamburger-bottom {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.top-menu-list {
  visibility: hidden;
}

@media (min-width: 670px) {
  .top-menu-list {
    visibility: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-grid-column: 6;
    -ms-grid-column-span: 6;
    grid-column: 6 / 12;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    gap: 20px;
  }
  .top-menu-list li {
    font-size: 10px;
  }
  .top-menu-list li::after {
    content: " ";
    display: inline-block;
    background-color: white;
    height: 2px;
    width: 100%;
    opacity: 0;
    -webkit-transform: translateY(-0.25rem);
            transform: translateY(-0.25rem);
    -webkit-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
  }
  .top-menu-list li:hover::after {
    opacity: 1;
  }
}

.nav-open .intro {
  background-image: none;
  background-color: black;
}

.nav-open lead {
  opacity: 0;
}

.nav-open .top-menu-list {
  visibility: visible;
  margin-top: 4rem;
  font-family: "JosefinSans";
  text-transform: uppercase;
  font-weight: 250;
  line-height: 2rem;
}

.nav-open .hamburger {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.nav-open .hamburger-top {
  -webkit-transform: translateY(2px) rotate(45deg);
          transform: translateY(2px) rotate(45deg);
}

.nav-open .hamburger-middle {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 3s 3s, opacity 500ms ease-in-out;
  transition: visibility 3s 3s, opacity 500ms ease-in-out;
}

.nav-open .hamburger-bottom {
  -webkit-transform: translateY(-4px) rotate(-45deg);
          transform: translateY(-4px) rotate(-45deg);
}

.our-creations-list {
  display: -ms-grid;
  display: grid;
  width: 100%;
  padding: 2rem var(--side-border-padding) 0rem var(--side-border-padding);
  gap: 1.5rem;
}

@media (min-width: 670px) {
  .our-creations-list {
    padding: 0rem var(--desk-side-border-padding) 5rem var(--desk-side-border-padding);
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.our-creations-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 5rem;
  width: 100%;
  height: 8rem;
  font-family: var(--ff-secondary);
  text-transform: uppercase;
  font-weight: 250;
  font-size: 1.5rem;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  line-height: 1.5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0rem 0rem 1.5rem 1.5rem;
}

@media (min-width: 670px) {
  .our-creations-list li {
    font-size: 0.9rem;
    line-height: 1rem;
    height: 13rem;
    padding: 0rem 0rem 1rem 1rem;
  }
}

.our-creations-list li:nth-child(1) {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0))), url("../images/mobile/image-deep-earth.jpg");
  background: linear-gradient(left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url("../images/mobile/image-deep-earth.jpg");
  background-size: cover;
}

.our-creations-list li:nth-child(1):hover {
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.6)), to(rgba(255, 255, 255, 0.6))), url("../images/mobile/image-deep-earth.jpg");
  background: linear-gradient(left, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("../images/mobile/image-deep-earth.jpg");
  background-size: cover;
}

@media (min-width: 670px) {
  .our-creations-list li:nth-child(1) {
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0))), url("../images/desktop/image-deep-earth.jpg");
    background: linear-gradient(left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url("../images/desktop/image-deep-earth.jpg");
    background-size: cover;
  }
  .our-creations-list li:nth-child(1):hover {
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.6)), to(rgba(255, 255, 255, 0.6))), url("../images/desktop/image-deep-earth.jpg");
    background: linear-gradient(left, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("../images/desktop/image-deep-earth.jpg");
    background-size: cover;
  }
}

.our-creations-list li:nth-child(2) {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0))), url("../images/mobile/image-night-arcade.jpg");
  background: linear-gradient(left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url("../images/mobile/image-night-arcade.jpg");
  background-size: cover;
}

.our-creations-list li:nth-child(2):hover {
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.6)), to(rgba(255, 255, 255, 0.6))), url("../images/mobile/image-night-arcade.jpg");
  background: linear-gradient(left, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("../images/mobile/image-night-arcade.jpg");
  background-size: cover;
}

@media (min-width: 670px) {
  .our-creations-list li:nth-child(2) {
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0))), url("../images/desktop/image-night-arcade.jpg");
    background: linear-gradient(left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url("../images/desktop/image-night-arcade.jpg");
    background-size: cover;
  }
  .our-creations-list li:nth-child(2):hover {
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.6)), to(rgba(255, 255, 255, 0.6))), url("../images/desktop/image-night-arcade.jpg");
    background: linear-gradient(left, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("../images/desktop/image-night-arcade.jpg");
    background-size: cover;
  }
}

.our-creations-list li:nth-child(3) {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0))), url("../images/mobile/image-soccer-team.jpg");
  background: linear-gradient(left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url("../images/mobile/image-soccer-team.jpg");
  background-size: cover;
}

.our-creations-list li:nth-child(3):hover {
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.6)), to(rgba(255, 255, 255, 0.6))), url("../images/mobile/image-soccer-team.jpg");
  background: linear-gradient(left, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("../images/mobile/image-soccer-team.jpg");
  background-size: cover;
}

@media (min-width: 670px) {
  .our-creations-list li:nth-child(3) {
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0))), url("../images/desktop/image-soccer-team.jpg");
    background: linear-gradient(left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url("../images/desktop/image-soccer-team.jpg");
    background-size: cover;
  }
  .our-creations-list li:nth-child(3):hover {
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.6)), to(rgba(255, 255, 255, 0.6))), url("../images/desktop/image-soccer-team.jpg");
    background: linear-gradient(left, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("../images/desktop/image-soccer-team.jpg");
    background-size: cover;
  }
}

.our-creations-list li:nth-child(4) {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0))), url("../images/mobile/image-grid.jpg");
  background: linear-gradient(left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url("../images/mobile/image-grid.jpg");
  background-size: cover;
}

.our-creations-list li:nth-child(4):hover {
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.6)), to(rgba(255, 255, 255, 0.6))), url("../images/mobile/image-grid.jpg");
  background: linear-gradient(left, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("../images/mobile/image-grid.jpg");
  background-size: cover;
}

@media (min-width: 670px) {
  .our-creations-list li:nth-child(4) {
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0))), url("../images/desktop/image-grid.jpg");
    background: linear-gradient(left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url("../images/desktop/image-grid.jpg");
    background-size: cover;
  }
  .our-creations-list li:nth-child(4):hover {
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.6)), to(rgba(255, 255, 255, 0.6))), url("../images/desktop/image-grid.jpg");
    background: linear-gradient(left, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("../images/desktop/image-grid.jpg");
    background-size: cover;
  }
}

.our-creations-list li:nth-child(5) {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0))), url("../images/mobile/image-from-above.jpg");
  background: linear-gradient(left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url("../images/mobile/image-from-above.jpg");
  background-size: cover;
}

.our-creations-list li:nth-child(5):hover {
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.6)), to(rgba(255, 255, 255, 0.6))), url("../images/mobile/image-from-above.jpg");
  background: linear-gradient(left, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("../images/mobile/image-from-above.jpg");
  background-size: cover;
}

@media (min-width: 670px) {
  .our-creations-list li:nth-child(5) {
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0))), url("../images/desktop/image-from-above.jpg");
    background: linear-gradient(left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url("../images/desktop/image-from-above.jpg");
    background-size: cover;
  }
  .our-creations-list li:nth-child(5):hover {
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.6)), to(rgba(255, 255, 255, 0.6))), url("../images/desktop/image-from-above.jpg");
    background: linear-gradient(left, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("../images/desktop/image-from-above.jpg");
    background-size: cover;
  }
}

.our-creations-list li:nth-child(6) {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0))), url("../images/mobile/image-pocket-borealis.jpg");
  background: linear-gradient(left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url("../images/mobile/image-pocket-borealis.jpg");
  background-size: cover;
}

.our-creations-list li:nth-child(6):hover {
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.6)), to(rgba(255, 255, 255, 0.6))), url("../images/mobile/image-pocket-borealis.jpg");
  background: linear-gradient(left, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("../images/mobile/image-pocket-borealis.jpg");
  background-size: cover;
}

@media (min-width: 670px) {
  .our-creations-list li:nth-child(6) {
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0))), url("../images/desktop/image-pocket-borealis.jpg");
    background: linear-gradient(left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url("../images/desktop/image-pocket-borealis.jpg");
    background-size: cover;
  }
  .our-creations-list li:nth-child(6):hover {
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.6)), to(rgba(255, 255, 255, 0.6))), url("../images/desktop/image-pocket-borealis.jpg");
    background: linear-gradient(left, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("../images/desktop/image-pocket-borealis.jpg");
    background-size: cover;
  }
}

.our-creations-list li:nth-child(7) {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0))), url("../images/mobile/image-curiosity.jpg");
  background: linear-gradient(left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url("../images/mobile/image-curiosity.jpg");
  background-size: cover;
}

.our-creations-list li:nth-child(7):hover {
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.6)), to(rgba(255, 255, 255, 0.6))), url("../images/mobile/image-curiosity.jpg");
  background: linear-gradient(left, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("../images/mobile/image-curiosity.jpg");
  background-size: cover;
}

@media (min-width: 670px) {
  .our-creations-list li:nth-child(7) {
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0))), url("../images/desktop/image-curiosity.jpg");
    background: linear-gradient(left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url("../images/desktop/image-curiosity.jpg");
    background-size: cover;
  }
  .our-creations-list li:nth-child(7):hover {
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.6)), to(rgba(255, 255, 255, 0.6))), url("../images/desktop/image-curiosity.jpg");
    background: linear-gradient(left, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("../images/desktop/image-curiosity.jpg");
    background-size: cover;
  }
}

.our-creations-list li:nth-child(8) {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0))), url("../images/mobile/image-fisheye.jpg");
  background: linear-gradient(left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url("../images/mobile/image-fisheye.jpg");
  background-size: cover;
}

.our-creations-list li:nth-child(8):hover {
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.6)), to(rgba(255, 255, 255, 0.6))), url("../images/mobile/image-fisheye.jpg");
  background: linear-gradient(left, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("../images/mobile/image-fisheye.jpg");
  background-size: cover;
}

@media (min-width: 670px) {
  .our-creations-list li:nth-child(8) {
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0))), url("../images/desktop/image-fisheye.jpg");
    background: linear-gradient(left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url("../images/desktop/image-fisheye.jpg");
    background-size: cover;
  }
  .our-creations-list li:nth-child(8):hover {
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.6)), to(rgba(255, 255, 255, 0.6))), url("../images/desktop/image-fisheye.jpg");
    background: linear-gradient(left, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("../images/desktop/image-fisheye.jpg");
    background-size: cover;
  }
}

footer {
  background-color: var(--clr-Black);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 670px) {
  footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
}

footer .footer-logo-wrap {
  margin: 3.5rem auto 0rem auto;
}

@media (min-width: 670px) {
  footer .footer-logo-wrap {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / 4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    margin-top: 2rem;
  }
}

@media (min-width: 670px) {
  footer .loop-logo {
    width: 60%;
  }
}

footer .footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
  -webkit-transform: translateY(-0.7rem);
          transform: translateY(-0.7rem);
}

footer .footer-list li::after {
  content: " ";
  display: inline-block;
  background-color: white;
  height: 2px;
  width: 100%;
  opacity: 0;
  -webkit-transform: translateY(-0.7rem);
          transform: translateY(-0.7rem);
  -webkit-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
}

footer .footer-list li:hover::after {
  opacity: 1;
}

@media (min-width: 670px) {
  footer .footer-list {
    line-height: 2.5rem;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-column: 2 / 6;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 0rem;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    font-size: x-small;
    gap: 2rem;
  }
  footer .footer-list li::after {
    -webkit-transform: translateY(-1.8rem);
            transform: translateY(-1.8rem);
  }
}

footer .social-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  margin: 0 auto;
}

footer .social-list li:nth-child(2) .twitter-logo {
  width: 100%;
  aspect-ratio: 1 / 1;
}

footer .social-list li::after {
  content: " ";
  display: inline-block;
  background-color: white;
  height: 2px;
  width: 100%;
  opacity: 0;
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
  -webkit-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
}

footer .social-list li:hover::after {
  opacity: 1;
}

@media (min-width: 670px) {
  footer .social-list {
    -ms-grid-column: 10;
    -ms-grid-column-span: 2;
    grid-column: 10 / 12;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    margin-top: 1rem;
  }
}

footer .footer-copyright {
  margin: 0 auto;
  padding-bottom: 3rem;
}

@media (min-width: 670px) {
  footer .footer-copyright {
    -ms-grid-column: 9;
    -ms-grid-column-span: 3;
    grid-column: 9 / 12;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    padding-bottom: 0rem;
    padding-top: 0rem;
  }
}
/*# sourceMappingURL=main.css.map */