footer {
  background-color: var(--clr-Black);
  display: flex;
  flex-direction: column;
  @media (min-width: $mobile) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 1fr;
  }

  .footer-logo-wrap {
    margin: 3.5rem auto 0rem auto;
    @media (min-width: $mobile) {
      grid-column: 2 / 4;
      grid-row: 1 / 2;
      margin-top: 2rem;
    }
  }
  .loop-logo {
    @media (min-width: $mobile) {
      width: 60%;
    }
  }

  .footer-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2.5rem;
    margin-top: 2rem;
    @media (min-width: $mobile) {
      grid-row: 2 / 3;
      grid-column: 2 / 6;
      flex-direction: row;
      margin-top: 0rem;
      align-items: end;
      font-size: x-small;
      gap: 2rem;
      transform: translateY(-0.7rem);
      & li::after {
        content: " ";
        display: inline-block;
        background-color: white;
        height: 2px;
        width: 100%;
        opacity: 0;
        transform: translateY(-1.8rem);
        transition: opacity 400ms ease-in;
      }
      & li:hover::after {
        opacity: 1;
      }
    }
  }

  .social-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    margin: 0 auto;
    margin-top: 2.5rem;
    @media (min-width: $mobile) {
      grid-column: 10 / 12;
      grid-row: 1 / 2;
      margin-top: 2rem;
      & li:nth-child(2) .twitter-logo {
        height: 24px;
        aspect-ratio: 1 / 1;
      }
      & li::after {
        content: " ";
        display: inline-block;
        background-color: white;
        height: 2px;
        width: 100%;
        opacity: 0;
        transform: translateY(-0.5rem);
        transition: opacity 400ms ease-in;
      }
      & li:hover::after {
        opacity: 1;
      }
    }
  }

  .footer-copyright {
    margin: 0 auto;
    padding-bottom: 3rem;
    @media (min-width: $mobile) {
      grid-column: 9 / 12;
      grid-row: 2 / 3;
      padding-bottom: 0rem;
      padding-top: 0rem;
    }
  }
}
