.nav-container {
  display: grid;
  grid-template-columns: repeat(1fr, 12);
  //   border: 2px solid green;
  @media (min-width: $mobile) {
    padding-bottom: 5rem;
  }
}

.logo-wrap {
  grid-column: 1 / 10;
  @media (min-width: $mobile) {
    grid-column: 1 / 5;
  }
}

.header-loop-logo {
  width: 40%;
}

.hamburger {
  grid-column: 12 / 13;
  //   display: grid;
  //   margin-top: 6px;
  justify-self: center;
  align-self: center;
  transition: transform 350ms ease-out;
  //   transform: translateY(16px);
  @media (min-width: $mobile) {
    display: none;
    // grid-column: none;
  }
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  background-color: white;
  height: 3px;
  width: 30px;
  transition: transform 350ms ease-in-out;
}

.hamburger-top {
  transform: translateY(-5px);
}
.hamburger-bottom {
  transform: translateY(5px);
}

.top-menu-list {
  visibility: hidden;
  @media (min-width: $mobile) {
    visibility: visible;
    display: flex;
    grid-column: 6 / 12;
    justify-content: end;
    gap: 20px;
    & li {
      font-size: 10px;
    }
    // & li:hover {
    //   text-decoration: underline 0.15em;
    //   text-underline-offset: 1em;
    // }

    & li::after {
      content: " ";
      display: inline-block;
      background-color: white;
      height: 2px;
      // width: 0px;
      width: 100%;
      opacity: 0;
      transform: translateY(-0.25rem);
      transition: opacity 400ms ease-in;
    }
    & li:hover::after {
      opacity: 1;
    }
  }
}
.nav-open .intro {
  background-image: none;
  background-color: black;
}
.nav-open lead {
  opacity: 0;
}

.nav-open .top-menu-list {
  visibility: visible;
  margin-top: 4rem;
  font-family: "JosefinSans";
  text-transform: uppercase;
  font-weight: 250;
  line-height: 2rem;
}
.nav-open .hamburger {
  transform: rotate(180deg);
}
.nav-open .hamburger-top {
  transform: translateY(2px) rotate(45deg);
}
.nav-open .hamburger-middle {
  visibility: hidden;
  opacity: 0;
  transition: visibility 3s 3s, opacity 500ms ease-in-out;
}
.nav-open .hamburger-bottom {
  transform: translateY(-4px) rotate(-45deg);
}
